<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="app" class="container">
        <div class="collection">
            <a v-for="curso in cursos" class="collection-item">{{ curso.nombre }} <i class="material-icons" style="color: gray; cursor:pointer;" @click="remove_curso(curso)">delete</i></a>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="autocomplete-input" class="autocomplete" v-model="new_curso">
                        <label for="autocomplete-input">Autocomplete</label>
                    </div>
                </div>
            </div>
        </div>
        <a class="waves-effect waves-light btn-small" @click="add_curso">Agregar</a>
        <hr /> 
        <strong>Si hay dos metodos con el mismo nombre en el mixin y en el componente, el metodo del componente
            tiene la prioridad
        </strong>
        <hr>
        <a class="waves-effect waves-light btn-small" @click="saludar">Saludar</a>
    </div>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="js/mixins.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            mixins: [mixin],
            created() {
                console.log('Creado desde el componente')
            },
            methods: {
                saludar() {
                    console.log('Saludar desde el componente')
                }
            }
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>